<!DOCTYPE html>
<html>
  <head>
    <title>Radio Call-In Dashboard</title>
    <script type="text/javascript"
      src="http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <link href="http://static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Feedback</h1>
    <ul>
      {% for msg in messages %}
      <li>{{ msg.body }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
